<h1 class="mb-4" style="color: var(--primary); font-weight:700;">Atividades: {{tipo.nome}}</h1>
<div class="atividades-container">
  {{#each atividades}}
    <div class="atividade-mini-card">
      <div class="atividade-mini-titulo">{{this.nome}}</div>
      <div class="atividade-mini-imgbox mb-2">
        {{#if this.atividade.imagemBase64}}
          <img src="data:{{this.atividade.imagemMime}};base64,{{this.atividade.imagemBase64}}" alt="Imagem da Atividade">
        {{else}}
          <i class="fas fa-music fa-2x" style="color: var(--primary-light);"></i>
        {{/if}}
      </div>
      <div class="atividade-mini-objetivo">{{this.atividade.objetivo}}</div>
      <div class="atividade-mini-actions">
        <a href="/atividade/{{this.id}}" title="Ver detalhes">
          <button type="button" class="atividade-mini-btn">
            <i class="fas fa-eye"></i>
          </button>
        </a>
      </div>
    </div>
  {{/each}}
</div>


